/* Button Style - Start
================================================== */
.btn_wrap {
	padding: 60px 0;
}

.btns_group {
	margin: -10px;
	>li {
		padding: 10px;
	}
}

// Button Default Style - Start
.btn-link {
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	color: $color_body;
	align-items: center;
	display: inline-flex;
	text-decoration: none;
	.btn_text {
		position: relative;
		&:before {
			left: 0;
			width: 0;
			bottom: 0;
			height: 1px;
			content: '';
			position: absolute;
			background-color: $color_primary;
			transition: $transition_fast;
		}
	}
	.btn_icon {
		margin-left: 8px;
		img {
			transition: $transition_slow;
			&:nth-child(2) {
				display: none;
			}
		}
	}

	&:hover {
		color: $color_primary;
		.btn_text {
			&:before {
				width: 100%;
			}
		}
		.btn_icon {
			img {
				animation: 0.4s ease-in-out 0s normal none 1 running fadeInDown;
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: inline-block;
				}
			}
		}
	}
}

.btn-link.text-white {
	.btn_text {
		&:before {
			background-color: $color_white;
		}
	}
}
// Button Default Style - End

// Button Default Style - Start
.btn {
	line-height: 1;
	padding: 0 35px;
	overflow: hidden;
	position: relative;
	transition: $transition_fast;
	border: 1px solid transparent;
	border-radius: $radius_secondary;
	&:focus {
		outline: none;
		box-shadow: none;
	}
	.btn_text {
		position: relative;
		display: inline-block;
		small {
			display: block;
			padding: 18px 0;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			transition: $transition_fast;
			&:nth-child(2) {
				left: 50%;
				top: 100%;
				opacity: 0;
				width: 100%;
				position: absolute;
				transform: translateX(-50%);
			}
		}
	}
	.btn_icon {
		margin-left: 10px;
		img {
			&:nth-child(2) {
				display: none;
			}
		}
	}
	&:hover {
		z-index: 1;
		transform: translateY(-4px);
		.btn_text {
			small {
				&:nth-child(1) {
					opacity: 0;
					transform: translateY(-100%);
				}
				&:nth-child(2) {
					top: 50%;
					opacity: 1;
					@include transform(translate(-50%, -50%));
				}
			}
		}
		.btn_icon {
			img {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: inline-block;
					@include transform (rotate(-45deg));
				}
			}
		}
	}
}
// Button Default Style - End

// Button Fill Style - Start
.btn-primary,
.btn-primary:hover {
	color: $color_white;
	border-color: $color_primary;
	background-color: $color_primary;
	.btn_icon {
		@include transform (rotate(45deg));
	}
}
[class*="-primary"]:hover {
	@include box-shadow(0 20px 40px 0 rgba(83, 85, 223, 0.4));
}

.btn-dark,
.btn-dark:hover {
	color: $color_white;
	border-color: $color_dark;
	background-color: $color_dark;
}
[class*="-dark"]:hover {
	@include box-shadow(0 24px 40px 0 rgba(15, 14, 14, 0.3));
}

.btn-warning,
.btn-warning:hover {
	color: $color_dark;
	border-color: $color_warning;
	background-color: $color_warning;
}
[class*="-warning"]:hover {
	@include box-shadow(0 24px 40px 0 rgba(255, 201, 97, 0.4));
}

.btn-danger,
.btn-danger:hover {
	color: $color_white;
	border-color: $color_danger;
	background-color: $color_danger;
}
[class*="-danger"]:hover {
	@include box-shadow(0 24px 40px 0 rgba(255, 127, 80, 0.4));
}
// Button Fill Style - End

// Button Border Style - Start
[class*="btn-outline-"] {
	background-color: transparent;
}

.btn-outline-white {
	color: $color_white;
	border-color: $color_white;
	.btn_text small {
		color: $color_white;
	}
	&:hover {
		border-color: $color_white;
		background-color: $color_white;
		box-shadow: 0 30px 40px 0 rgba(15, 14, 14, 0.3);
		.btn_text small {
			color: $color_dark;
		}
	}
}

.btn-outline-primary {
	border-color: $color_primary;
	.btn_text small {
		color: $color_primary;
	}
	&:hover {
		border-color: $color_primary;
		background-color: $color_primary;
		.btn_text small {
			color: $color_white;
		}
	}
}

.btn-outline-dark {
	border-color: $color_dark;
	.btn_text small {
		color: $color_dark;
	}
	&:hover {
		border-color: $color_dark;
		background-color: $color_dark;
		.btn_text small {
			color: $color_white;
		}
	}
}
// Button Border Style - End

// Filters Button Group - Start
.filters-button-group {
	display: flex;
	margin-bottom: 60px;
	justify-content: center;
	.portfolio_button {
		&.has_bg_transparent {
			background-color: transparent;
			padding: 0;
		}
		padding: 10px 45px;
		border-radius: 50px;
		display: inline-flex;
		flex-wrap: wrap;
		background-color: $color_light;
		@media #{$xs,$sm,$md} {
			padding: 10px 25px;
		}
		@media #{$xs} {
			border-radius: 12px;
		}
		button {
			font-size: 16px;
			font-weight: 500;
			line-height: 27px;
			color: $color_dark;
			padding: 10px 15px 9px;
			&.active {
				color: $color_primary;
			}
		}
	}
}

.filters-button-group.style_2 {
	margin-bottom: 30px;
	.portfolio_button {
		background-color: $color_white;
		border: 1px solid $color_border;
	}
	button {
		&.active {
			color: $color_danger;
		}
	}
}
// Filters Button Group - End

/* Button Style - End
================================================== */